<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <STYLE TYPE="TEXT/CSS">
        A:link {
        text-decoration:none;
        color: black;
        }
        A:visited {
        text-decoration:none;
        color: black;
        }
        </STYLE>
    <title>mynu</title>
    <link rel="stylesheet" href="/public/home.css">
</head>
<body>


    

  

            <table class="table">
                    <tr>
                        <td> <a href="/catalog">หนังสือทั้งหมด</a>  </td>
                    </tr>
                    <tr>
                        <td> <a href="/catalog/comedy">นิยายตลกขบขัน (Comedy)</a>  </td>
                    </tr>
                    <tr>
                        <td><a href="/catalog/action">นิยายต่อสู้ (Action)</a></td>
                    </tr>
                    <tr>
                        <td><a href="/catalog/romance">นิยายรักโรแมนติก (Romance)</a></td>
                    </tr>
                    <tr>
                        <td><a href="/catalog/boylove">นิยายวาย (Boy Love)</a></td>
                    </tr>

                    <tr>
                        <td><a href="/catalog/scifi">นิยายวิทยาศาสตร์ (Science Fiction)</a></td>
                    </tr>
                    <tr>
                        <td><a href="/catalog/fantasy">นิยายแฟนตาซี (Fantasy)</a></td>
                    </tr>
                    <tr>
                        <td><a href="/catalog/thriller">นิยายสยองขวัญ (Thriller)</a></td>
                    </tr>
                    <tr>
                        <td><a href="/catalog/suspense">นิยายสืบสวนสอบสวน (Suspense)</a></td>
                    </tr>
                    <tr>
                        <td><a href="/catalog/historical">นิยายอิงประวัติศาสตร์ (Historical)</a></td>
                    </tr>

            </table>
     
</body>
</html>



