<div class="row">
    <div class="col-xl-3 col-md-6 col-sm-12">
        <img class="img-thumbnail" src="https://static.wixstatic.com/media/a47f70_c0eaed0a7f504709a22115c2051c9dc1.jpg" title="">
    </div>
    <div class="col-xl-3 col-md-6 col-sm-12">
        <img class="img-thumbnail" src="https://lifestyle.campus-star.com/app/uploads/2017/11/f03-1.jpg" title="">
    </div>
    <div class="col-xl-3 col-md-6 col-sm-12">
        <img class="img-thumbnail" src="https://petmaya.com/wp-content/uploads/2015/09/cute-hamsters-05.jpg" title="">
    </div>
    <div class="col-xl-3 col-md-6 col-sm-12">
        <img class="img-thumbnail" src="https://lifestyle.campus-star.com/app/uploads/2017/11/f03-1.jpg" title="">
    </div>
</div> 