<form action='/user?_method=PUT'  method='POST' enctype="multipart/form-data">
    <h3 class="px-5">Edit My Address</h3>
    <div class="mb-1 px-5">
      <div class="row">
        <div class="col-sm-5">
            <label class="form-label">Address</label>
            <input type='text'class="form-control"  name='address' >
        </div>  

        <div class="col-sm-5">
            <label class="form-label">Province</label>
            <input type='text' class="form-control" name='province' id="province" placeholder='province'>
        </div>              
    </div>
  </div>
  <div class="mb-1 px-5">
    <div class="row">
      <div class="col-sm-5">
          <label class="form-label">District</label>
          <input type='text'class="form-control"  name='district'  >
      </div>  

      <div class="col-sm-5">
          <label class="form-label">Postcode</label>
          <input type='text' class="form-control" name='postcode' >
      </div>              
  </div>
</div>

    <button type="submit" class="btn">บันทึก</button>
    <button type="button" class="btn cancel" onclick="closeForm()">ยกเลิก</button>
</form>                