<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mystery Book</title>
</head>
<body>
    <div class="foot">
    
    <div class="row">
        <div class="col-sm-3 py-4">
            
        </div>
        <div class="col-sm-3">
           <h6 class="py-4"><font style="color: rgb(255, 255, 255);"> ติดตามข่าวสารใหม่ๆได้ทางช่องทาง</font></h6> 
        </div>
        <div class="col-sm-1 py-4">
           <a href="https://www.facebook.com/"> <img src="/image/download01.png" width="40px"></a>
        </div>
        <div class="col-sm-1 py-4">
            <a href="https://line.me/th/">  <img src="/image/download02.png" width="40px"></a>
        </div>
        <div class="col-sm-1 py-4">
            <a href="https://www.instagram.com/">  <img src="/image/download03.png" width="40px"></a>
        </div>
        <div class="col-sm-1 py-4">
            <a href="https://www.youtube.com/"> <img src="/image/download04.png" width="40px"></a>
        </div>

    </div>
    </div>
</body>
</html>