<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <STYLE TYPE="TEXT/CSS">
        A:link {
        text-decoration:none;
        color: black;
        }
        A:visited {
        text-decoration:none;
        color: black;
        }
        </STYLE>
    <title>mynu</title>
    <link rel="stylesheet" href="/public/home.css">
</head>
<body>


    

    

            <table class="table">
                    <tr>
                        <td> <a href="/catalog/comedy">ข้อมูลส่วนตัว</a>  </td>
                    </tr>
                    <tr>
                        <td><a href="/cart">ตระกร้าสินค้า</a></td>
                    </tr>
                    <tr>
                        <td><a href="/catalog/action">ประวัติการซื้อ</a></td>
                    </tr>
                    <tr>
                        <td><a href="/user/shop">ร้านค้าของฉัน</a></td>
                    </tr>
                    <tr>
                        <td><a href="/logout">ออกจากระบบ</a></td>
                    </tr>
                   
            </table>
      
</body>
</html>



